<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">



    <context:property-placeholder location="classpath*:config.properties"/>

    <context:annotation-config/>



    <bean id="loginServlet" class="com.LoginServlet"/>

    <bean id="seven" class="com.Point">
        <property name="pointX" value="7"/>
        <property name="pointY" value="7"/>
    </bean>

    <util:list id="arrayList1" list-class="java.util.ArrayList" value-type="java.lang.String">
        <value>Nairi</value>
        <value>Hayk</value>
    </util:list>

</beans>